*.o
*~

lib
bin
*.o

*.lo
*.la
.libs
.deps
Makefile
Makefile.in
config.h
config.h.in
h264toisoff
livemediastreamer
segments/
stamp-h1
testtranscoder
testtranscoderaactoisoff
testtranscoderh264toisoff
fakelive
testdemuxer
teststreamer

autom4te.cache/
config.log
config.status
config.guess
config.sub
aclocal.m4
depcomp
libtool
missing
configure
COPYING
INSTALL
ltmain.sh
install-sh

compile
confdefs.h

receiver
transmitter
rec_trans
audio_rtp_only

doc/
doxygen/

*.xml
*.mp4
*.yuv
*.yuv420p
*.uyvy
*.uyvy422
*.sdp

*~
*.swp
*.swo

*.dirstamp
m4/

.cproject
.project

cscope.*
tags

unitTests/connectionTest
unitTests/dashAudioSegmenterTest
unitTests/dashVideoSegmenterTest
unitTests/dasherTest
unitTests/encodingDecodingTest
unitTests/filterTest
unitTests/headDemuxerFunctionalTest
unitTests/headDemuxerTest
unitTests/mpdManagerTest
unitTests/sharedMemoryTest
unitTests/sinkManagerTest
unitTests/slicedVideoFrameQueueTest
unitTests/testsData/modules/dasher/test.mpd
unitTests/testsData/videoVectorTest_out_2000kbps.h264
unitTests/testsData/videoVectorTest_out_2000kbps.h265
unitTests/testsData/videoVectorTest_out_4000kbps.h264
unitTests/testsData/videoVectorTest_out_4000kbps.h265
unitTests/testsData/videoVectorTest_out_500kbps.h264
unitTests/testsData/videoVectorTest_out_500kbps.h265
unitTests/workerTest

