*.o
*~

lib
bin
*.o

*.lo
*.la
.libs
.deps
Makefile
Makefile.in
config.h
config.h.in
h264toisoff
livemediastreamer
segments/
stamp-h1
testtranscoder
testtranscoderaactoisoff
testtranscoderh264toisoff



autom4te.cache/
config.log
config.status
config.guess
config.sub
aclocal.m4
depcomp
libtool
missing
configure
COPYING
INSTALL
ltmain.sh
install-sh

compile
confdefs.h

receiver
transmitter
rec_trans
audio_rtp_only

doc/

*.xml
*.mp4
*.yuv
*.yuv420p
*.uyvy
*.uyvy422
*.sdp

*~
*.swp

*.dirstamp
m4/

.cproject
.project

cscope.*
tags
